<div class="card flex-column">
    <h2 class="card-header">Please Enter Username and Password to log in!</h2>
    <form id="login-form" class="card-body">
        <div class="mb-6">
            <label for="username" class="form-label">Username</label>
            <input placeholder="Enter username" type="username" class="form-control" id="username-login">
            <div id="usernameHlp" class="form-text">Your User Information is secured and will never be shared with outside sources!</div>
        </div>
        <div class="mb-6">
            <label for="password" class="form-label">Password</label>
            <input placeholder="Enter your Password" type="password" class="form-control" id="password-login">
            <div id="passwrdhelp" class="form-text">Must be at least 4 digits long.</div>
        </div>

        <div class="mb-6">
            <a href="/signup">If you do not currently have an account please Sign up here!</a>
        </div>

        <button type="submit" class="btn btn-primary" id="login-btn">Log In</button>
    </form>
</div>

<script src="js/login.js"></script>