<div class="card">
    <h2 class="card-header">ENTER username and Password to create your account.</h2>
    <form id="signup-form" class="card-body">
        <div class="mb-6">
            <label for="username" class="form-label">USERNAME</label>
            <input placeholder="ENTER USERNAME HERE" type="username" class="form-control" id="username-signup">
            <div id="usernamehlp" class="form-text">Your information will not be shared to outsiders.
            </div>
            <div class="mb-6">
                <label for="password" class="form-label">PASSWORD</label>
                <input placeholder="ENTER PASSWORD HERE!" type="password" class="form-control" id="password-signup">
                <div id="passwordhlp" class="form-text">Must be at least four digits long.</div>
            </div>

            <div class="mb-6">
                <a href="/login">If you already have an account you can long in HERE.</a>
            </div>

            <button type="submit" class="btn btn-primary" id="login-btn">SIGN UP</button>
    </form>
</div>

<script src="js/signup.js"></script>